footer {
    margin-top: 80px;
    border-top: 2px solid var(--bordure-couleur);
    background-color: rgb(236, 232, 232);
    padding: 0;
}

footer p {
    text-align: center;
}

.navFooter {
    justify-content: center;
    margin: 20px;
}

.copyright {
    font-size: 0.8em;
    text-align: center;
}